<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h2>Company Home page</h2>
<hr>
<p>
    Welcome to the company home page!
</p>

<hr>

<p>
    User : <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s) : <span sec:authentication="principal.authorities"></span>
</p>
<hr>

<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (Only for Managers!)

</p>

<form action="#" method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>